html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: url(../public/Background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-size: cover;

} 

/* .wrapper {
  display: grid;
  grid-template-columns: repeat(8, 100px);
} */

