@tailwind base;

@tailwind components;

@tailwind utilities;

@import "./globals.css";

.bvk-input{
    @apply inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm transition ease-in-out duration-150 ;
}
@screen sm {
    .bvk-input {
      @apply text-sm leading-5;
    }
  }

.bvk-input:hover{
    @apply text-gray-500;
}

.bvk-input:focus{
    @apply outline-none border-blue-300 shadow-outline;
}